<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% blo%}</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('posts.list_posts') }}">Posts</a> |
        <a href="{{ url_for('authors.list_authors') }}">Autores</a> |
        {% if session.get('username') %}
            <b>Logado como {{ session['username'] }}</b> |
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('auth.login') }}">Login</a>
        {% endif %}
    </nav>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% for msg in messages %}
            <p style="color:red">{{ msg }}</p>
        {% endfor %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>