<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <h1>Meu Site Flask</h1>
        
        <nav> <a href="/">Home</a> | <a href="/produtos">Produtos</a> | <a href="/sobre">Sobre</a> | <a
                href="/contato">Contato</a> </nav>
        <hr>
    </header>
    <main>
       {% block conteudo %}
       {% endblock %}
    </main>
    <hr>
    <footer>
        <p>© 2026 - Curso de Flask</p>
    </footer>
</body>

</html>