<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
</head>

<body>
    <header>
        <h1>Meu Site Flask</h1>
        <nav> <a href="/">Home</a> | <a href="/produtos">Produtos</a> | <a href="/sobre">Sobre</a> | <a
                href="/contato">Contato</a> </nav>
        <hr>
    </header>
    <main>
        <h2>Contato</h2>
        <p> Entre em contato conosco utilizando os canais abaixo. </p>
        <ul>
            <li>Email: contato@empresa.com</li>
            <li>Telefone: (11) 99999-9999</li>
        </ul>
    </main>
    <hr>
    <footer>
        <p>© 2026 - Curso de Flask</p>
    </footer>
</body>

</html>