<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <header>
        <h1>Meu Site Flask</h1>
        <nav> <a href="/">Home</a> | <a href="/produtos">Produtos</a> | <a href="/sobre">Sobre</a> | <a
                href="/contato">Contato</a> </nav>
        <hr>
    </header>
    <main>
        <h2>Página Inicial</h2>
        <p> Bem-vindo ao nosso sistema desenvolvido com Flask. </p>
        <p> Nesta aplicação aprenderemos como reutilizar templates. </p>
    </main>
    <hr>
    <footer>
        <p>© 2026 - Curso de Flask</p>
    </footer>
</body>

</html>