* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.container {
    border: 1px solid red;
    display: flex;
    width: 300px;
}

.principal {
    background-color: yellowgreen;
    flex-shrink: 1;
}

.secundario {
    background-color: rgb(93, 81, 123);
    flex-shrink: 2;
}


.terciario {
    background-color: rgb(83, 123, 81);
    flex-shrink: 1;
}

section>aside {
    width: 150px;
    background-color: rgb(143, 143, 195);
}